{% extends 'game/start.html.twig' %}

{% block body %}
    <div class="row justify-content-center py-5">
        <div class="col-6">
            <img class="img-fluid d-block mx-auto py-4" src="{{ asset('assets/images/you-dead.jpg') }}" alt="" />
        </div>
    </div>
{% endblock %}
