{% extends "game/_base.html.twig" %}

{% block body %}
    <h1>Game</h1>

    <section class="word">
        <ul class="letters">
        {% for letter in game.word|split('') %}
            <li class="letter">{{ letter in game.playedLetters ? letter : '_' }}</li>
        {% endfor %}
        </ul>
    </section>

    <section class="play">
        <ul class="letters">
        {% for letter in 'A'..'Z' if letter not in game.playedLetters %}
            <li class="letter"><a href="{{ path('game_play_letter', {'letter': letter}) }}">{{ letter }}</a></li>
        {% endfor %}
        </ul>
    </section>

    <a href="{{ path('homepage') }}">Homepage</a>
{% endblock %}
