{% extends "base.html.twig" %}

{% block body %}
    <h1>Game</h1>

    <section class="word">
        <ul class="letters">
        {% for letter in game.word|split('') %}
            <li class="letter">{{ letter in game.playedLetters ? letter : '_' }}</li>
        {% endfor %}
        </ul>
    </section>

    <section class="play">
        <ul class="letters">
        {% for letter in 'A'..'Z' if letter not in game.playedLetters %}
            <li class="letter">{{ letter }}</li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}
