{% extends 'game/start.html.twig' %}

{% block body %}
    <div class="row justify-content-center py-5">
        <div class="col-6 text-center">
            <h1>You won ! Here's a cookie !</h1>
        </div>
        <div class="w-100"></div>
        <div class="col-6">
            <img class="img-fluid d-block mx-auto py-4" src="{{ asset('assets/images/cookie.png') }}" alt="" />
        </div>
    </div>
{% endblock %}

